.formulario{
    background: palevioletred;
    padding:10%;
}
.form_input{
    padding:2%;
    width:100%;
    font-size: 20px;
    font-family: sans-serif;
    font-weight:bold;
    
}
.form_submit{
    text-align:center;
    text-transform: uppercase;
    background:magenta;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    width:50%;
    

}
